In [2]:
# Logistic Regression

    # •	Logistic Regression Used for Classification
    # •	It is Supervised Machine Learning algorithm
    # •	Only Suitable for binary Classification
    # •	It is not Suitable for Multiple Classes

# Overfitting: Good performance on the training data, poor performance to unseen data.
# Underfitting: Poor performance on the training data, poor performance to unseen data.

In [3]:
import pandas as pd
import numpy as np

# Load the data
train_data = pd.read_csv('Titanic_Survival_Train.csv',index_col=None,header = 0)
test_data = pd.read_csv('Titanic_Survival_Test.csv',index_col=None,header = 0)

In [4]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
1,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
2,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
3,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
4,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C

In [6]:
# Function to preprocess the data
def preprocess_data(df):

    # Check and handle null values
    df['Age'].fillna(df['Age'].median(), inplace=True)
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
    df['Fare'].fillna(df['Fare'].median(), inplace=True)

        # Check for unique values and replace them
    df.replace({'?': np.nan, '-': np.nan}, inplace=True)
    df['Fare'] = pd.to_numeric(df['Fare'], errors='coerce')
    df['Fare'].fillna(df['Fare'].median(), inplace=True)
    
     # Convert 'Sex' column to numerical using label encoding
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()
    df['Sex'] = label_encoder.fit_transform(df['Sex'])

     # Convert 'Sex' column to numerical using label encoding
   
   #  - Label encoding is a technique used in machine learning and data analysis
#    to convert categorical variables into numerical format
# classes_ - Attribute
# fit_transform - Function that converts char to numeric
# le.classes_ -  contains the unique classes found in the data
# le.transform(le.classes_) -  It maps each unique class to its encoded numerical representation. 
                              #For example, if your classes were ['cat', 'dog', 'fish'], and they were encoded as [0, 1, 2], respectively, then le.transform(le.classes_) would return [0, 1, 2].

    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()
    df['Sex'] = label_encoder.fit_transform(df['Sex'])
    
    # Convert 'Embarked' column to numerical using label encoding
    df['Embarked'] = label_encoder.fit_transform(df['Embarked'])

     # Drop columns that won't be used in the model
    df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
    
    return df

In [7]:
# Preprocess the training and test data
train_data = preprocess_data(train_data)
test_data = preprocess_data(test_data)

In [8]:
# Separate features and target variable for training data
X = train_data.drop('Survived', axis=1)
y = train_data['Survived']

In [9]:
# Apply standard scaling to the features

# Scaling and its importance :-
    
#     1. Normalization :- MinMaxScaler() --> 0 to 1
        
#     2.Standarization :- StandardScaler() --> -3 to 3
        
#         - Scaling is importance for making the values unitless
        
#         - Scaling technique helps every variable to follow standard normal distribution 
        
#         - In this tecnique data is well distributed 
        
#         - outliers doesn't have any impact 
        
#         - Its not a mandatory step but a good practice 

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [10]:
# Split the data into training and validation sets
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Train the logistic regression model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [12]:
# Preprocess and scale the test data
X_test = test_data.drop('Survived', axis=1)
y_test = test_data['Survived']
X_test = scaler.transform(X_test)

In [13]:
# Predict on the test set
y_test_pred = model.predict(X_test)
print(y_test_pred)

[0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 0]

In [14]:
# Evaluate the model on the test set
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("Accuracy on test set:", accuracy_score(y_test, y_test_pred))
print("Confusion Matrix on test set:\n", confusion_matrix(y_test, y_test_pred))
print("Classification Report on test set:\n", classification_report(y_test, y_test_pred))

Accuracy on test set: 0.9047619047619048
Confusion Matrix on test set:
 [[12  2]
 [ 0  7]]
Classification Report on test set:
               precision    recall  f1-score   support

           0       1.00      0.86      0.92        14
           1       0.78      1.00      0.88         7

    accuracy                           0.90        21
   macro avg       0.89      0.93      0.90        21
weighted avg       0.93      0.90      0.91        21

In [17]:
# Print the number of survivors and non-survivors in predictions
# 0 --> nonsurvived
# 1 --> survived
print("Predicted Survival Statistics on Test Set:")
print(pd.Series(y_test_pred).value_counts())

Predicted Survival Statistics on Test Set:
0    12
1     9
Name: count, dtype: int64